/*标签*/

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
select,
button,
fieldset,
legend,
img,
ul,
ol,
li,
dl,
dt,
dd,
th,
td,
pre,
blockquote {
    margin: 0;
    padding: 0;
}

html {
    color: #333;
    background: #fff;
    font-size: 62.5%;
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.2em;
    font-family: 'Microsoft YaHei', SimSun, Verdana, Arial, sans-serif;
}

img,
fieldset {
    border: 0;
    vertical-align: middle;
}

textarea {
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #628828;
}

a:focus {
    outline: none;
}


/*位置*/

.fl {
    float: left;
}

.fr {
    float: right;
}


/*分页样式*/

.pageWrap {
    text-align: center;
    padding: 20px 0;
}


/*筛选部分样式*/

.sortWrap {
    padding: 10px 0;
}

.sortWrap .layui-inline {
    padding-bottom: 10px;
}

.sortBtn {
    margin-top: -10px;
    margin-left: 30px;
}

.pageAddBtnWrap {
    text-align: right;
    padding-right: 30px;
}


/*头部*/

.logo {
    /* width: 180px;*/
    /* padding: 0 10px;*/
    display: block;
    line-height: 58px;
    text-align: center;
}

.logo img {
    width: 130px;
}

.layui-header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}

.handelUl {
    position: absolute!important;
    right: 0;
    background: none;
}

.leftNav {
    position: fixed;
    left: 0;
    top: 60px;
    width: 130px;
    /* padding: 20px 0;*/
    height: 900px;
    background-color: #23262E;
    z-index: 500;
}

.leftNav>li>a {
    display: block;
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    /*text-align: center;*/
    /*border-left: 3px solid #23262E;*/
}

.leftNav>li>a:hover {
    /*border-color: #eb7221;*/
    background-color: #F37D0A;
    background-position: 95% -74px !important;
    /*选中样式*/
}

.leftNav>li>a.hasBg {
    background: url(../images/down.png) 95% 18px no-repeat;
}

.leftSubNav {
    display: none;
}

.leftSubNav li a {
    display: block;
    padding-left: 30px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.leftSubNav li a:hover,
.leftSubNav li a.on {
    /*background-color: #eb7221;*/
    /*选中样式*/
    background-color: #F37D0A;
    background-position: 95% -74px !important
    /*选中样式*/
}

.indexRightMain {
    width: 1703px
}

.rightMain {
    width: 89%;
    margin-left: 130px;
    margin-top: 60px;
    min-height: 880px;
    padding-left: 20px;
    padding-top: 10px;
}

@media(max-width:1240px) {
    .rightMain {
        width: 1240px;
    }
}


/*登录页面*/

.loginBg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/loginBg.jpg) no-repeat;
    background-size: 100%;
}

.loginFormWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -308px;
    margin-top: -159px;
}

.loginFormWrap .layui-form-label {
    width: 30px;
}

.loginFormWrap .layui-input-block {
    margin-left: 0;
}

.loginFormWrap .layui-btn {
    background: #29bbff;
}

.loginFormWrap .forgetPwd {
    display: block;
    color: #eb7221;
    padding: 0 0 15px 117px;
    float: left;
}


/*二维码登录页面*/

.loginErweima {
    position: absolute;
    width: 256px;
    height: 500px;
    left: 54%;
    top: 30%;
    margin-left: -200px;
}

.loginErweima .erweima {
    width: 256px;
    height: 300px
}

.loginErweima .loginNotice {
    text-align: center;
    line-height: 25px;
}

.loginErweima .loginNotice .reload {
    color: #eb7221;
}

.layui-btn,
.layui-laypage-em {
    background-color: #eb7221 !important;
}

.layui-laypage a:hover {
    color: #eb7221 !important;
}


/*后来加的改按钮颜色*/

.layui-form-radio>i:hover,
.layui-form-radioed>i {
    color: #eb7221 !important;
}

.layui-form-onswitch {
    border-color: #eb7221 !important;
    background-color: #eb7221 !important;
}

.layui-form-checked,
.layui-form-checked:hover {
    border-color: #eb7221 !important;
}


/*.ckbox.layui-form-checked span, .layui-form-checked:hover span {
     background-color:#eb7221 !important ;
}*/

.ckbox.layui-form-checked i,
.layui-form-checked:hover i {
    color: #eb7221 !important;
}

.ckbox .layui-form-checked[lay-skin=primary] i {
    border-color: #eb7221 !important;
    background-color: #eb7221 !important;
    color: #fff;
}

.ckbox2 .layui-form-checked i,
.ckbox2 .layui-form-checked:hover i {
    color: #eb7221 !important;
}

.ckbox2 .layui-form-checked span,
.ckbox2 .layui-form-checked:hover span {
    background-color: #eb7221 !important;
}

.layui-icon:hover {
    border-color: #eb7221 !important;
}

.layui-icon:focus {
    border-color: #eb7221 !important;
}

.layui-this {
    background-color: #eb7221 !important;
}


/*日历改颜色*/

body .layui-laydate-footer :hover,
.layui-laydate-header :hover {
    color: #eb7221 !important;
}

body .layui-laydate .layui-this {
    background-color: #eb7221 !important;
    color: #fff!important;
}

body .layui-laydate-content td.laydate-selected {
    background-color: #F7E1B5 !important;
}

[v-cloak] {
    display: none;
}