<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>经纪人管理</title>
    <link rel="icon" href="../../images/icon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../layui-v2.2.6/layui/css/layui.css">
    <script src="../../js/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" href="../../css/style1.css">
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrap">
        <div class="layui-layout layui-layout-admin">
            <!--顶部-->
             <!--顶部-->
            <div class="layui-header header" id="top"> </div>	 
       		 <div class="main clearfix" >
            <!--左侧导航-->
            <ul class="leftNav fl" id="left"></ul>
            <!--右侧主要内容-->
            <div class="rightMain fl">
                <!--客户状态等-->
                <form class="layui-form">
               
                    <div class="sortWrap">
                        <div class="layui-inline">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-inline">
                                <select name="userstype" lay-verify="required" lay-search="" id="userstype">
                                <option value="">全部</option>
                                <!--<option value="1">独立经纪人</option>
                                <option value="2">房产经纪人</option>					     -->
                            </select>
                            </div>
                        </div>
                        <div class="layui-inline" id="select">
                            <label class="layui-form-label">公司</label>
                            <div class="layui-input-inline">
                                <select name="company" lay-verify="required" lay-search="" id="company">
                                <option value="">全部</option>
                              <!--<!--<option value="1">万科</option>
                                <option value="2">万达</option>
                                <option value="3">其他</option>-->
                            </select>
                            </div>
                        </div>
                        <button class="layui-btn sortBtn"  type="button" onclick="search()">查询</button>
                    </div>
                    <!--表格及分页-->
                    <div class="table1 ckbox2">
                        <table class="layui-table" lay-size="lg"  id="users">
                         <h2>经纪人列表</h2>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>经济人</th>
                                    <th>经纪人类型</th>
                                    <th>公司</th>
                                    <th>电话</th>
                                    <th>注册时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in users">
                                    <td>{{item.id}}</td>
                                    <td>{{item.nickname}}</td>
                                    <td>{{userstype[item.economictid]?userstype[item.economictid].name:''}}</td>                                 	
                                 	<td>{{company[item.companyid]?company[item.companyid].name:''}}</td>
                                    <!--<td v-if="userstype[item.economictid]">
                                	{{userstype[item.economictid]["name"]}}
                            		</td><td v-else></td>                            		
                            		 <td v-if="company[item.companyid]">
                                	{{company[item.company]["name"]}}
                            		</td><td v-else></td>-->
                                   <!--<td>{{item.name}}</td> -->
                                 	<!--<td>{{company[item.name]?company[item.companyid].name:''}}</td>  -->                                                                                                                
                                    <td>{{item.mobile}}</td>                                  
                                    <td>{{item.created_at}}</td></td>                                                                                                                                                   
                                                                                                  
                                    <td>
                                    	<input type="checkbox" name="like[write]" title="锁定" v-if="item.ishome !== 1">                                    
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </form>
                <!--分页-->
                <div class="pageWrap">
                    <div id="pagerInner"></div>
                </div>
            </div>
        </div>
        </div>
        <!-- //wrap -->
        <script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../../config/configure.js"></script>
        <script type="text/javascript" src="../../layui-v2.2.6/layui/layui.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
         <!--- vue -->
	    <script type="text/javascript" src="../../plugin/js/vue.js"></script>
	    <script type="text/javascript" src="../../plugin/js/axios.min.js"></script>
	    <script type="text/javascript" src="../../js/page/user/user.js"></script>
     
</body>

</html>