<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>客户列表</title>
     <link rel="icon" href="../../images/icon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/style1.css">
    <link rel="stylesheet" href="../../layui-v2.2.6/layui/css/layui.css">
    <style>
        .layui-table td, .layui-table th {
            position: relative;
            padding: 9px 5px;
            min-height: 20px;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
        }
        .layui-form-select dl {
            text-align: left;
        }
        .clientPopTable .layui-form-label {
            width: 100px;
        }
        .userPopTable, .clientPopTable {
            margin: 20px auto 0 20px;
        }

    </style>
    <script src="../../js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrap" id="vue_client_list" v-cloak>
        <div class="layui-layout layui-layout-admin">
   		 <!--顶部-->
         <div class="layui-header header" id="top"> </div>

        <div class="main clearfix" >
            <!--左侧导航-->
            <ul class="leftNav fl" id="left">
            </ul>
            <!--右侧主要内容-->
            <div class="rightMain fl">
                <!--顶部筛选条件-->
                <div class="sortWrap">
                    <form class="layui-form">

                        <div class="topSort">
                            <div class="layui-inline">
                                <label class="layui-form-label" >客户状态</label>
                                <div class="layui-input-inline" >
                                    <select name="showSearchStatus" lay-verify="required" lay-search=""   id="showSearchStatus">
                                        <option value="" >全部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">楼盘</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" ref="housename">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" >客户等级</label>
                                <div class="layui-input-inline " >
                                    <select name="showSearchLevel" lay-verify="required" lay-search="" id="showSearchLevel">
                                        <option  value="">全部</option>
                                    </select>
                                </div>
                            </div>
                            <template v-if="tokenUserInfo">
                                <div class="layui-inline" v-if="tokenUserInfo.isadmin==1">
                                    <label class="layui-form-label" >业务员</label>
                                    <div class="layui-input-inline " >
                                        <select name="showSearchAdmin" lay-verify="required" lay-search="" id="showSearchAdmin">
                                            <option  value="">全部</option>
                                        </select>
                                    </div>
                                </div>
                            </template>
                            <button class="layui-btn sortBtn" type="button" @click="searchClick()">查询</button>
                        </div>
                    </form>
                </div>
                <div class="addClient"><button class="layui-btn changeClient">批量移交客户</button></div>
                <form class="layui-form lockForm">
                		<h2>客户列表</h2>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>客户姓名</th>
                                <th>客户等级</th>
                                <th>楼盘</th>
                                <th>手机号</th>
                                <th>预约时间</th>
                                <th>上门时间</th>
                                <th>客户状态</th>
                                <th>公司</th>
                                <th>经纪人</th>
                                <th>跟进人</th>
                                <th>跟进次数</th>
                                <th>最后跟进时间</th>
                                <th>成交时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tr v-for="(item,index) in client_list" :id="'clientList_'+item.uuid">
                            <td>{{index+1}}</td>
                            <td>{{item.dynamic_to_client.name}}</td>
                            <td v-if="level_datas[item.levelid]">{{level_datas[item.levelid]["name"]}}</td><td v-else></td>
                            <td>{{item.housename}}</td>
                            <td>{{item.dynamic_to_client.mobile}}</td>
                            <td>{{item.makedate}}</td>
                            <td>{{item.comedate}}</td>
                            <td v-if="default_followstatus_datas[item.followstatusid]">{{default_followstatus_datas[item.followstatusid]["name"]}}</td><td v-else></td>
                            <td v-if="item.dynamic_to_company">{{item.dynamic_to_company.name}}</td><td v-else></td>
                            <td v-if="item.dynamic_to_user">{{item.dynamic_to_user.nickname}}</td><td v-else></td>
                            <td v-if="admin_show_datas[item.followadminid]">{{admin_show_datas[item.ownadminid]["nickname"]}}</td><td v-else></td>
                            <td>{{item.followcount}}</td>
                            <td>{{item.followdate}}</td>
                            <td>{{item.dealdate}}</td>
                            <td>
                                <div class="layui-btn-group">
                                    <a type="button" class="layui-btn" @click="linkFollow(item.uuid,item.clientid)">跟进</a>
                                    <button type="button" class="layui-btn editBtn" @click="clientDetail(item.clientid)">查看编辑</button>
                                    <button type="button" class="layui-btn deleteBtn" @click="clientDelete(item.uuid)">删除</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <!--分页-->
                <div class="pageWrap">
                    <div id="pagerInner"></div>
                </div>
            </div>
        </div>
        <!--//main-->
        <!--查看编辑页面弹窗-->
      <div class="userPopWrap hidden" >
            <div class="userPopInner">
                <form class="layui-form">
                    <table class="clientPopTable">
                        <tr>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">姓名</label>
                                    <div class="layui-input-inline ">
                                        <input type="text" class="layui-input" name="userName" :value="client_datas.name" ref="clientname">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">客户电话</label>
                                    <div class="layui-input-inline ">
                                        <input type="text" class="layui-input" name="userPhone" :value="client_datas.mobile" readonly style=" background-color:#f2f2f2;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">楼盘</label>
                                    <div class="layui-input-inline forInset ">
                                        <select name="showSearchHouse" lay-verify="required" lay-search  id="showSearchHouse" >
                                            <option value="" >请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-inline">
                                    <label class="layui-form-label">上门时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="date" id="comedate" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input forSameWidth" :value="client_datas.comedate" ref="comedate">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="layui-inline">
                                    <label class="layui-form-label">预约时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="date" id="makedate" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input forSameWidth" :value="client_datas.makedate" readonly style=" background-color:#f2f2f2;">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">合作公司</label>
                                    <div class="layui-input-inline ">
                                        <input type="text" class="layui-input" name="userHouse" :value="client_datas.company" readonly style=" background-color:#f2f2f2;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="layui-inline">
                                    <label class="layui-form-label">客户状态</label>
                                    <div class="layui-input-block">
                                        <select name="interest" lay-filter="aihao" id="showEditStatus" :value="client_datas.followstatusid" ref="followstatusid">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">跟进次数</label>
                                    <div class="layui-input-inline ">
                                        <input type="text" class="layui-input" name="userHouse" :value="client_datas.followcount" readonly style=" background-color:#f2f2f2;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">经纪人</label>
                                    <div class="layui-input-inline ">
                                        <input type="text" class="layui-input" name="userHouse" :value="client_datas.refereeusername" readonly  style=" background-color:#f2f2f2;">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-inline">
                                    <label class="layui-form-label">最后跟进时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="date" id="followdate" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input forSameWidth" :value="client_datas.followdate" readonly style=" background-color:#f2f2f2;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div class="layui-inline">
                                    <label class="layui-form-label ">跟进业务员</label>
                                    <div class="layui-input-inline ">
                                        <input type="text" class="layui-input" name="userHouse" :value="client_datas.followname" readonly  style=" background-color:#f2f2f2;">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="layui-inline">
                                    <label class="layui-form-label">客户等级</label>
                                    <div class="layui-input-block">
                                        <select name="interest" lay-filter="aihao" id="showEditLevel" :value="client_datas.levelid" ref="levelid">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="layui-inline">
                                    <label class="layui-form-label">成交时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="date" id="dealdate" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input forSameWidth" :value="client_datas.dealdate" ref="dealdate">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="submitBtnWrap">
                        <button type="button" class="layui-btn" @click="editSubmit(client_datas.uuid)">提交</button>
                    </div>
                </form>
            </div>
        </div>  <!--批量移交客户弹窗-->
        <div class="custormHandelPop" style="display: none">
            <div class="popFormWrap">
                <form class="layui-form ">
                    <table class="clientHandlTable size">
                        <tr>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">接受人</label>
                                    <div class="layui-input-block">
                                        <select name="interest" lay-filter="aihao">
                                        <option value="0">全部</option>
                                        <option value="1">张三</option>
                                    </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="layui-inline ">
                                    <label class="layui-form-label ">移交人</label>
                                    <div class="layui-input-block">
                                        <select name="interest" lay-filter="aihao" >
                                            <option value="0">张思</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="submitBtnWrap">
                        <button class="layui-btn">确认移交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- //wrap -->
    <script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../layui-v2.2.6/layui/layui.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>

    <!--- vue -->
    <script type="text/javascript" src="../../plugin/js/vue.js"></script>
    <script type="text/javascript" src="../../plugin/js/axios.min.js"></script>
    <script type="text/javascript" src="../../config/configure.js"></script>
    <script type="text/javascript" src="../../js/page/client/list.js"></script>

</body>

</html>