<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>客户跟进</title>
    <link rel="icon" href="../../images/icon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/style1.css">
    <link rel="stylesheet" href="../../layui-v2.2.6/layui/css/layui.css">
    <script src="../../js/modernizr-2.6.2.min.js"></script>
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrap" id="vue_client_follow" v-cloak>
    <div class="layui-layout layui-layout-admin">
        <!--顶部-->
        <div class="layui-header header" id="top"></div>

        <div class="main clearfix">
            <!--左侧导航-->
            <ul class="leftNav fl" id="left">
            </ul>
            <!--右侧主要内容-->
            <div class="rightMain fl">
                <div class="formWrap">
                    <form class="layui-form" action="client.html">
                        <table class="followTable">
                            <tr>
                                <td>
                                    <div class="layui-inline ">
                                        <label class="layui-form-label ">客户状态</label>
                                        <div class="layui-input-block">
                                            <select name="showSearchStatus" lay-verify="required" lay-search=""
                                                    id="showSearchStatus">
                                                <option value="">全部</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layui-inline ">
                                        <label class="layui-form-label ">跟进内容</label>
                                        <div class="layui-input-block">
                                            <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="nextBtnWrap">
                            <button class="layui-btn nextBtn" lay-submit=" " lay-filter="filter1">提交</button>
                        </div>
                    </form>
                </div>
                <h2 class="followText">跟进日志</h2>
                <ul class="followUl">
                    <li v-for="item in follow_list">
                        <p>客户状态：<span>{{admin_show_datas[item.followstatusid]["name"]}}</span></p>
                        <p class="followLog">{{item.content}}</p>
                        <div class="clearfix">
                            <div class="fl">
                                业务员:<span v-if="item.follow_to_admin_user">{{item.follow_to_admin_user.nickname}}</span>
                            </div>
                            <div class="fr">
                                跟进时间:<span>{{item.created_at}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--//main-->
    </div>
</div>
    <!-- //wrap -->
    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../layui-v2.2.6/layui/layui.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>

    <!--- vue -->
    <script type="text/javascript" src="../../plugin/js/vue.js"></script>
    <script type="text/javascript" src="../../plugin/js/axios.min.js"></script>
    <script type="text/javascript" src="../../config/configure.js"></script>
    <script type="text/javascript" src="../../js/page/client/follow.js"></script>

    <script type="text/javascript">
        $(function () {
            //添加编辑用户
            $(".editBtn").click(function () {
                layer.open({
                    type: 1,
                    title: '查看编辑用户',
                    shadeClose: true,
                    scrollbar: false,
                    skin: 'layui-layer-rim',
                    area: ['650px', '500px'],
                    content: $(".userPopWrap")
                })
            })
            //删除用户
            $(".deleteBtn").click(function () {
                var $this = $(this);
                layer.confirm('确定要删除吗？', {
                    btn: ['确定', '取消']
                }, function () {
                    $this.parents("tr").remove();
                    layer.msg('删除成功', {
                        icon: 1
                    });
                });
            });
            //这个页面的分页用的是浏览器解析后的布局（其他页面使用的是解析前的，后期如果需要会统一修改）
            layui.use(['laypage', 'layer', 'form'], function () {
                var laypage = layui.laypage,
                    layForm = layui.layform,
                    layer = layui.layer;
                //总页数大于页码总数
                laypage.render({
                    elem: 'pagerInner',
                    count: 70, //数据总数
                    jump: function (obj) {
                        //console.log(obj)
                    }
                });
            });
        })
    </script>
</body>

</html>