<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>角色管理</title>
    <link rel="icon" href="../../images/icon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/style1.css">
    <link rel="stylesheet" href="../../layui-v2.2.6/layui/css/layui.css">
    <script src="../../js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrap">
        <div class="layui-layout layui-layout-admin">
            <!--顶部-->
            <div class="layui-header header" id="top"> </div>
            <div class="main clearfix">
                <!--左侧导航-->
                <ul class="leftNav fl" id="left"></ul>
                <!--右侧主要内容-->
                <div class="rightMain fl" id="roleId">
                    <div class="addClient"><button type="button" @click="addRole()" class="layui-btn changeClient">添加角色</button></div>
                    <form class="layui-form lockForm">
                        <h2>角色列表</h2>
                        <table class="layui-table">
                            <tr>
                                <th>ID</th>
                                <th>角色名称</th>
                                <th>操作</th>
                                <!--<th>是否锁定</th>-->
                            </tr>
                            <tr v-for="item in roleList">
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    <div class="layui-btn-group">
                                        <a type="button" @click="editRole(item.uuid,item.name,item.islook)" class="layui-btn layui-btn-sm editBtn">编辑权限</a>
                                        <button type="button" @click="deleteRole(item.uuid)" class="layui-btn layui-btn-sm deleteBtn">删除</button>
                                    </div>
                                </td>
                                <!--<td class="ckbox2">
                                    <input type="checkbox" name="like[write]" title="锁定">
                                </td>-->
                            </tr>
                        </table>
                    </form>
                    <!--添加角色弹窗-->
                    <div class="custormHandelPop" style="display: none">
                        <div class="popFormWrap">
                            <form class="layui-form">
                                <table class="clientHandlTable">
                                    <tr>
                                        <td>
                                            <div class="layui-inline " style="margin-top: 20%;">
                                                <label class="layui-form-label ">角色名称</label>
                                                <div class="layui-input-inline ">
                                                    <input type="text" class="layui-input" v-model="name" name="userHouse">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="submitBtnWrap">
                                    <button type="button" @click="submitAddRole()" class="layui-btn">添加</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--//main-->
        </div>
    </div>
    <!-- //wrap -->
    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../layui-v2.2.6/layui/layui.js"></script>
    <script type="text/javascript" src="../../js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <!--- vue -->
    <script type="text/javascript" src="../../plugin/js/vue.js"></script>
    <script type="text/javascript" src="../../config/configure.js"></script>
    <script type="text/javascript" src="../../plugin/js/axios.min.js"></script>
    <script type="text/javascript" src="../../js/page/role/role.js"></script>
</body>

</html>